body{
    max-width: 100%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    
 
}
.main-container{
    padding: 0px 100px;
}
@media (max-width: 375px) {
   body{ padding: 10px;} 

   .main-container{
    padding: 0px 0px;
}
  }
