.header{
    display: flex;
    justify-content:space-between;
    text-align: center;
    align-items: center;
    padding: 0px 100px;
 
}

@media (max-width: 375px) {

    .header{
        padding: 0px 0px;
    }
    .logo{
        width: 145px;
        height: 46px;
    }
}