footer{
    background-color: black;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 210px;

    .FooterText{
        color: white;
    }

    .logodark{
        width: 122PX;
        height: 39px;
        margin-top: 10px;
    
    }
}
